<main>
  <section class="main-content">
    <div class="tittle">
      <h1>Conheça sua Psi</h1>
    </div>

    <div class="text">
      <p>Prazer, eu sou a Amanda! Sou psicóloga formada pela Universidade Paulista (UNIP) e especialista em Terapia
        Cognitivo Comportamental (PUCRS).</p>

      <p>Minha missão é te ajudar a viver com mais leveza e equilíbrio, melhorando sua qualidade de vida, seus
        relacionamentos e alcançando o sucesso que você merece.</p>

      <p>Com a Terapia Cognitivo Comportamental (TCC), ajudo as pacientes a lidarem com suas questões de forma prática e
        transformadora. Juntas, identificamos padrões de crenças que influenciam como você percebe e vive a sua
        realidade.
      </p>
    </div>
  </section>

  <section class="image-container">
    <img src="/amanda-header.jpg" alt="foto da Amanda">
  </section>
</main>
