<footer id="contato">

  <section class="main-content">
    <div class="tittle">
      <h1>Amanda Theodoro</h1>
      <p>PSICÓLOGA CLÍNICA</p>
      <p>CRP 06/167259</p>
    </div>

    <div class="text">
      <p>Viva com mais leveza e equilíbrio.</p>
    </div>

    <div class="serviços">
    </div>

    <div class="links">
      <ul>
        <li><i class="bi bi-whatsapp"> WhatsApp</i></li>
        <li><i class="bi bi-instagram"> Instagram</i></li>
      </ul>
    </div>

  </section>

  <section class="tópicos">

    <div class="sub-tittle">
      <h1>No que posso te ajudar</h1>
    </div>

    <div class="list">
      <ul>
        <li>Ansiedade</li>
        <li>Drepressão</li>
        <li>Problemas no trabalho</li>
        <li>Autoestima</li>
        <li>Problemas no relacionamento</li>
        <li>Dependência emocional</li>
        <li>E muito mais</li>

      </ul>
    </div>
  </section>



</footer>
