<footer id="contato">

  <section class="main-content">
    <div class="tittle">
      <h1>Amanda Theodoro</h1>
      <p>PSICÓLOGA CLÍNICA</p>
      <p>CRP 06/167259</p>
    </div>

    <div class="text">
      <p>Viva com mais leveza e equilíbrio.</p>
    </div>

    <div class="serviços">
    </div>

    <div class="links">
      <ul>
        <a href="https://wa.me/message/VFGGP4HT7W6OA1"><li><i class="bi bi-whatsapp"> WhatsApp</i></li></a>
        <a href="https://www.instagram.com/psi.amandatheodoro?igsh=MTZzcXBibWc4MTJnbg%3D%3D"><li><i class="bi bi-instagram"> Instagram</i></li></a>
      </ul>
    </div>

  </section>

</footer>
