<nav class="fixed top-0 left-0 w-full z-50">
  <div class="flex justify-between items-center max-w-6xl mx-auto md:my-2 bg-stone-950/30 p-4 md:rounded-xl backdrop-blur-lg ">
    <div class="text-white font-semibold tex-lg uppercase">
      <a href="/">
        Amanda Theodoro
      </a>
    </div>

    <div class="md:w-3/4 flex justify-end items-center">
      <div class="menu-icon" (click)="openMenu()">
        <i class="{{menu_icon}}"></i>
      </div>

    <div class="desktop_menu hidden md:flex space-x-8" [class.mobile_menu]="menuValue">
      <ul class="text-white focus:outline-none" aria-label>
        <li (click)="closeMenu()">Atendimento</li>
        <li (click)="closeMenu()">Psicologia</li>
        <li (click)="closeMenu()">Contato</li>
      </ul>
    </div>

  </div>
    </div>

</nav>
