<section>
  <div class="tittle">
    <h1>Objetivos da psicoterapia </h1>
  </div>

  <div class="text">
    <p>A psicoterapia é um processo que trabalha a saúde mental através de técnicas científicas.</p>
    <p> É um espaço em que não haverá julgamentos e o sigilo das informações é garantido. Você pode se sentir a vontade
      para compartilhar tudo o que deseja</p>
  </div>

  <div class="list">
    <h2>Alguns dos objetivos são:</h2>
    <ul>
      <li>- Melhorar sua relação com você e com os outros.</li>
      <li>- Validar e entender as emoções</li>
      <li>- Lidar de uma forma eficaz com problemas</li>
      <li>- Fortalecer a sua individualidade</li>
    </ul>
  </div>

</section>
