section {
  display: flex;
  flex-direction: column;
  background: var(--gradient)
}

.main-content {
  margin: 80px;
  padding: 20px;
}

.tittle h1 {
  font-size: 3rem;
  font-family: var(--tittle-font), sans-serif;
  color: var(--dark);
  padding: 20px;
}

.text {
  margin-left: 20px;
  padding: 0 20px;
  font-family: var(--text-font), sans-serif;
  color: var(--grey);
}

.p1 {
  padding-bottom: 60px;
}

.text p {
  text-align: justify;
  font-size: 1.5rem;
}

.list {
  margin-left: 20px;
  padding: 0 20px;
  font-family: var(--text-font), sans-serif;
  color: var(--grey);
}

.list h2 {
  font-weight: 300;
  font-size: 1.6rem;
}

.list li {
  font-family: var(--text-font), sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 128px) and (max-width: 1200px) {

  .main-content {
    padding: 0;
  }

  .tittle {
    margin-top: 20px;
    text-align: center;
    font-family: var(--tittle-font), sans-serif;
  }

  .tittle h1 {
    font-size: 2.5rem;
    padding: 10px;
  }

  .p1 {
    padding: 0;
  }

  .text p {
    font-size: 1.1rem;
  }

  .list li {
    font-size: 1.1rem;
  }

}
