<main id="ajuda">
  <section class="image-container">
    <img src="/amanda-card.jpg" alt="Foto da Amanda">
  </section>

  <section class="main-content">
    <div class="tittle">
      <h2>Sendo sua psicóloga, eu vou:</h2>
    </div>

    <div class="list">
      <ul>
        <li>- Olhar para além dos seus sintomas e juntas vamos atingir a transformação que você busca;</li>
        <li>- Te ajudar a entender como seus pensamentos, emoções e comportamentos funcionam, criando estratégias que fazem sentido para sua vida;</li>
        <li>- Te guiar a desenvolver um olhar mais atento e acolhedor para si mesma e para suas ações;</li>
        <li>- Oferecer suporte especializado;</li>
        <li>- Incentivar você a encontrar um equilíbrio na sua rotina, de forma realista e possível;</li>
        <li>- Oferecer estratégias práticas que realmente funcionem no seu dia a dia.</li>
      </ul>
    </div>
  </section>

</main>
