<main id="casos">
  <section>
    <div class="tittle">
      <h1>Casos em que a terapia pode ajudar</h1>
    </div>

    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let card of cards" class="slide">
        <div class="card">
          <h3>{{ card.title }}</h3>
        </div>
      </div>
    </ngx-slick-carousel>

    <div class="btn-content">
      <a href="https://wa.me/message/VFGGP4HT7W6OA1"><button class="btn">AGENDAR SESSÃO</button></a>
    </div>
  </section>
</main>
