main {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background: var(--gradient);
}

.image-container {
  flex-grow: 0.4;
  margin-left: 50px;
  margin-right: 0;
  padding: 0;
}

.image-container img {
  width: 100%;
}

.content-container {
  width: 100%;
  margin: 80px;
  padding: 20px;
}

.main-content {
  text-align: start;
}

.tittle h1 {
  font-size: 3rem;
  font-family: var(--tittle-font), sans-serif;
  color: var(--dark);
  padding: 20px;
}

.text {
  margin-left: 20px;
  padding: 0 20px;
  font-family: var(--text-font), sans-serif;
  color: var(--grey);
}

.p1 {
  padding-bottom: 70px;
}

.text p {
  text-align: justify;
  font-size: 1.5rem;
}

.btn-atendimento {
  display: flex;
  justify-content: center;
  margin: 20px;
}


.btn {
  width: 350px;
  font-size: 1.5rem;
  background-color: green;
  border-radius: 50px;
  color: var(--white);
}

.btn:hover {
  background-color: var(--white);
  color: var(--btn-green);
}

@media screen and (min-width: 128px) and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 50%;
    margin: 50px;
  }

  .image-container img {
    width: 350px;
    border-radius: 20px 50px 20px 50px;
  }

  .tittle {
    margin-top: 20px;
    text-align: center;
    font-family: var(--tittle-font), sans-serif;
  }

  .tittle h1 {
    font-size: 2.5rem;
    padding: 10px;
  }

  .p1 {
    margin: 0;
    padding-bottom: 20px;
  }

  .text p {
    font-size: 1.1rem;
  }

  .btn {
    width: 200px;
    font-size: 1rem;
    background-color: green;
    border-radius: 50px;
    color: var(--white);
  }

  .btn:hover {
    background-color: var(--white);
    color: var(--btn-green);
  }
}
