<main id="atendimentos">
  <section class="image-container">
    <img src="/amanda-banner.jpg" alt="Foto da amanda">
  </section>

  <section class="content-container">
    <div class="main-content">
      <div class="tittle">
        <h1>Atendimentos</h1>
      </div>

      <div class="text">
        <p class="p1">Os atendimentos acontecem de forma online, através do Google Meet e tem duração de 50 minutos.</p>
        <p>
          As sessões são realizadas a partir da Terapia Cognitivo Comportamental. Essa abordagem <span>integra os pensamentos,
        emoções e comportamentos</span>; assim é possível modificar a visão de si e do mundo e transformar em uma visão
          mais
          realista.</p>
      </div>

      <div class="btn-atendimento">
        <a href="https://wa.me/message/VFGGP4HT7W6OA1"><button class="btn">AGENDE SUA SESÃO</button></a>
      </div>
    </div>
  </section>

</main>
