<main class="main-banner" id="home">

  <section class="name">
    <div class="tittle">
      <h1>Amanda Theodoro</h1>
      <p>Psicóloga Clínica</p>
      <p>CRP 06/167259</p>
    </div>
  </section>

  <section class="main-content">
    <div class="content">
      <h2>Cuidar de você não precisa ser a última opção. O suporte certo pode transformar sua vida agora.</h2>

      <div class="atendimento">
        <p>Atendimentos para adultos</p>
        <a href="https://wa.me/message/VFGGP4HT7W6OA1"><button class="btn">AGENDE SUA SESSÃO</button></a>
      </div>

    </div>
  </section>

  <section class="image-container">
    <img src="/amanda-header2.jpg" alt="foto da psicóloga Amanda Theodoro">
  </section>

</main>
